body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #ff6600;
  transition: top 0.3s, background-color 0.3s;
  z-index: 1000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

header.hidden {
  top: -100px;
}

header.transparent {
  background-color: rgba(222, 208, 199, 0.5);
}

header .container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
}

header nav {
  display: flex;
  align-items: center;
}

header .logo img {
  width: 160px;
  height: auto;
  margin-right: 600px;
}

header nav ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  align-items: center;
}

header nav ul li {
  margin: 0 15px;
}

header nav ul li a {
  text-decoration: none;
  color: #ffffff;
}

header nav ul li a.active {
  color: #ffffff;
  text-decoration: underline;
  text-underline-offset: 7px;
}

.parallax-banner {
  position: relative;
  background-image: url("banner2.jpeg");
  min-height: 400px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

.banner-text {
  position: absolute;
  bottom: 100px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 24px;
  color: #fff;
  padding: 65px 10px;
  z-index: 1;
  text-align: center;
  white-space: nowrap;
}

.banner-skew {
  position: absolute;
  bottom: -50px;
  left: 0;
  width: 200%;
  height: 140px;
  background-color: rgba(255, 255, 255);
  transform: skewY(-2deg);
  z-index: 2;
}

@media (max-width: 768px) {
  .banner-text {
    font-size: 20px;
  }

  header .logo {
    margin-right: 0;
  }

  header nav ul {
    display: none;
  }

  header nav ul.active {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50px;
    right: 0;
    background-color: #ff6600;
    width: 100%;
  }

  header nav ul li {
    margin: 15px 0;
  }
}

.content {
  max-width: 1200px;
  margin: 20px auto;
  padding: 20px;
}

.controls {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.controls select {
  padding: 5px 40px 5px 5px;
  margin-right: 20px;
  border: none;
  border-radius: 20px;
  background-color: #fffdfb;
  color: #000000;
  font-size: 16px;
  font-family: "Georgia", serif;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s, box-shadow 0.3s;
}

.controls select:focus {
  outline: none;
  background-color: #fffdfb;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.controls > div {
  display: flex;
  align-items: center;
}

.posts {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.post {
  border: none;
  border-radius: 10px;
  overflow: hidden;
  background-color: #fff;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  height: 320px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.post:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.2);
}

.post img {
  width: 100%;
  aspect-ratio: 16 / 9;
  object-fit: cover;
  border-bottom: 5px solid #f0eee7;
}

.post-date {
  padding: 20px 20px 0;
  font-size: 14px;
  font-weight: normal;
  color: #847c7c;
  font-family: "Times New Roman", serif;
}

.post-title {
  padding: 20px 20px 2px;
  font-size: 18px;
  font-weight: normal;
  color: #333;
  height: auto;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  font-family: "Georgia", serif;
  overflow: hidden;
}

.post-title:hover {
  color: #d4af37;
}

@media (max-width: 1024px) {
  .posts {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .posts {
    grid-template-columns: 1fr;
  }
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination button {
  padding: 5px 10px;
  margin: 0 5px;
  border: none;
  background-color: #e67e22;
  color: #fff;
  cursor: pointer;
}

.pagination button.disabled {
  background-color: #ddd;
  cursor: not-allowed;
}
